*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 16px;
}

h1 {
  font-family: Baskerville, Athelas, Arial, sans-serif;
  margin: 20px auto;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-family: Chalkboard, Helvetica, Arial, sans-serif;
  padding: 20px;
}

.content {
  margin: auto;
}

.baku {
  background: url("/images/baku.jpg");
}

.london {
  background: url("/images/london.png");
}

.madrid {
  background: url("/images/madrid.jpg");
}

.rome {
  background: url("/images/rome.jpg");
}

.preview {
  background-size: cover;
  height: 300px;
  margin: 20px 0px;
}

@media screen and (min-width: 575px) {
  .content {
    transform: translate(50px, 0);
    margin: 20px;
    padding: 20px;
  }
  .preview {
    background-size: cover;
    display: inline-block;
    height: 140px;
    width: 40%;
    margin: 10px 10px;
  }
  h3 {
    padding: 5%;
  }
}

@media screen and (min-width: 991px) {
  .container {
    padding: 20px;
    margin: 20px;
  }
  .preview {
    background-size: cover;
    display: inline-block;
    height: 140px;
    width: 20%;
    margin: 10px 10px;
  }
}
